.resetPasswordPageMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newPasswordForm {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.newPasswordForm p {
    color: white;
}

.newPasswordInput {
    padding: 5px;
    width: 80%;
    background: none;
    border: 1px solid black;
    border-radius: 12px;
    color: white;
}

.newPasswordInput::placeholder {
    color: white;
    text-align: center;
}

.newPasswordInput:focus {
    outline: none;
    border: 1px solid white;
}